{% extends "inicio/index.html" %}

{% block title_head %}
Lista de Perfiles
{% endblock title_head %}

{% block h1_header %}
Lista de Perfiles
{% endblock h1_header %}

{% block about_this_page %}Encuentrate con los otros usuarios de la comunidad CarOnPoint{% endblock about_this_page %}

{% block sub_info_info %}
<div class="container mt-5">
    <h1 class="mb-4">Lista de Perfiles</h1>
    <ul class="list-group">
        {% for perfil in perfiles %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ perfil.user.username }}
                <div>
                    <a href="{% url 'ver_perfil' perfil.user.id %}" class="btn btn-secondary btn-sm">Ver Perfil</a>
                    <a href="{% url 'send_message' perfil.user.id %}" class="btn btn-primary btn-sm">Enviar Mensaje</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock sub_info_info %}
