{% extends "base.html" %}

{% block title_head %}
Login
{% endblock title_head %}

{% block h1_header %}
Login
{% endblock h1_header %}

{% block about_this_page %}
Ingresa nombre de usuario y contraseña
{% endblock about_this_page %}

{% block sub_info_info %}
<div class="container mt-4">
    <div class="personita-container">
        <div class="personita">
            <div class="head">
                <div class="eyes">
                    <div class="eye left-eye">
                        <div class="pupil"></div>
                    </div>
                    <div class="eye right-eye">
                        <div class="pupil"></div>
                    </div>
                </div>
                <div class="eyes-covered">
                    <div class="cover left-cover"></div>
                    <div class="cover right-cover"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div class="body"></div>
            <div class="arms"></div>
        </div>
    </div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock sub_info_info %}
