{% extends "base.html" %}

{% block title_head %}
Login
{% endblock title_head %}

{% block h1_header %}
Login
{% endblock h1_header %}

{% block about_this_page %}
Ingresa tus datos
{% endblock about_this_page %}

{% block sub_info_info %}
<div class="container mt-4">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ formulario.as_p }}  <!-- Mostrar el formulario con formato de párrafos -->
        <button type="submit">Login</button>
    </form>
</div>
{% endblock sub_info_info %}
