{% extends "base.html" %}
{% load static %}
{% block title_head %}
Inicio
{% endblock title_head %}

{% block background_image %}
{% static 'imagenes/background-inicio.jpg' %}
{% endblock background_image %}

{% block h1_header %}
Bienvenido a CarOnPoint
{% endblock h1_header %}

{% block about_this_page %}
Descubre la nueva forma de comprar vehiculos en línea con CarOnPoint: ¡donde la variedad y la comodidad se unen para brindarte la mejor experiencia de compra!
{% endblock about_this_page %}

{% block sub_info_info %}En nuestra plataforma, te ofrecemos una experiencia de compra  de vehiculos en línea simple y eficiente, donde podrás encontrar tu proximo vehiculo a precios competitivos...
{% endblock sub_info_info %}

{% block info_registro %}
    <h2 class="fw-bolder">Sumate a CarOnPoint Society</h2>
{% endblock info_registro %}

{% block register %}
    <div class="col-lg-4 col-xl-5 text-center"><a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'SignIn' %}">Sign In</a></div>
{% endblock register %}




