{% extends "base.html" %}
{% load static %}
{% block title_head %}
Inicio
{% endblock title_head %}

{% block background_image %}
{% static 'imagenes/background-inicio.jpg' %}
{% endblock background_image %}

{% block h1_header %}
Bienvenido a CarOnPoint
{% endblock h1_header %}

{% block about_this_page %}
Descubre la nueva forma de comprar vehiculos en línea con CarOnPoint: ¡donde la variedad y la comodidad se unen para brindarte la mejor experiencia de compra!
{% endblock about_this_page %}

{% block sub_info_info %}En nuestra plataforma, te ofrecemos una experiencia de compra  de vehiculos en línea simple y eficiente, donde podrás encontrar tu proximo vehiculo a precios competitivos...
{% endblock sub_info_info %}
