{% extends "base.html" %}
{% load static %}
{% block title_head %}
Inicio
{% endblock title_head %}

{% block background_image %}
{% static 'imagenes/background-inicio.jpg' %}
{% endblock background_image %}


{% block h1_header %}
¡Bienvenido a CarOnPoint {{ cliente.nombre }} {{ cliente.apellido }}!
{% endblock h1_header %}

{% block acciones %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio_logueado' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'crear' %}">Publicar</a></li>
<li class="nav-item"><a class="nav-link" href="#!">Comprar</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'ver_clientes' %}">Clientes</a></li>
{% endblock acciones %}