{% extends "inicio/index_logueado.html" %}

{% block title_head %}
Resultados de la búsqueda de Vehículos
{% endblock title_head %}

{% block h1_header %}
Resultados de la búsqueda
{% endblock h1_header %}

{% block sub_info_info %}
    {% if vehiculos_encontrados %}
        <p>Se encontraron los siguientes vehículos:</p>
        <ul>
            {% for vehiculo in vehiculos_encontrados %}
                <li>{{ vehiculo.marca }} {{ vehiculo.modelo }}</li>
                <!-- Aquí puedes agregar más información del vehículo si lo deseas -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron vehículos con esa marca.</p>
    {% endif %}
{% endblock sub_info_info %}

