{% extends "inicio/index.html" %}

{% block title_head %}
Catálogo de Vehículos
{% endblock title_head %}

{% block h1_header %}
Catálogo de Vehículos
{% endblock h1_header %}

{% block sub_info_title %}
Listado de Vehículos
{% endblock sub_info_title %}

{% block sub_info_info %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <h2>Autos</h2>
            <div class="row">
                {% if autos %}
                    {% for auto in autos %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ auto.marca }} {{ auto.modelo }}</h5>
                                <p class="card-text"><strong>Combustible:</strong> {{ auto.combustible }}</p>
                                <p class="card-text"><strong>Año de fabricación:</strong> {{ auto.ano_fabricacion }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No hay autos publicados por el momento.</p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <h2>Motos</h2>
            <div class="row">
                {% if motos %}
                    {% for moto in motos %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ moto.marca }} {{ moto.modelo }}</h5>
                                <p class="card-text"><strong>Combustible:</strong> {{ moto.combustible }}</p>
                                <p class="card-text"><strong>Año de fabricación:</strong> {{ moto.ano_fabricacion }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No hay motos publicadas por el momento.</p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <h2>Camiones</h2>
            <div class="row">
                {% if camiones %}
                    {% for camion in camiones %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ camion.marca }} {{ camion.modelo }}</h5>
                                <p class="card-text"><strong>Combustible:</strong> {{ camion.combustible }}</p>
                                <p class="card-text"><strong>Año de fabricación:</strong> {{ camion.ano_fabricacion }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No hay camiones publicados por el momento.</p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <h2>Camionetas</h2>
            <div class="row">
                {% if camionetas %}
                    {% for camioneta in camionetas %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ camioneta.marca }} {{ camioneta.modelo }}</h5>
                                <p class="card-text"><strong>Combustible:</strong> {{ camioneta.combustible }}</p>
                                <p class="card-text"><strong>Año de fabricación:</strong> {{ camioneta.ano_fabricacion }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No hay camionetas publicadas por el momento.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <form method="get" action="{% url 'buscar_vehiculo' %}">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Buscar Vehículo</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock sub_info_info %}
