{% extends "inicio/index.html" %}

{% block title_head %}
Enviar Mensaje
{% endblock title_head %}

{% block h1_header %}
Enviar Mensaje
{% endblock h1_header %}

{% block about_this_page %}
Completa el formulario para enviar un mensaje.
{% endblock about_this_page %}

{% block sub_info_title %}
Nuevo Mensaje
{% endblock sub_info_title %}

{% block sub_info_info %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Enviar Mensaje</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock sub_info_info %}
